<mat-toolbar color="primary">
  <span>
    <mat-icon>stars</mat-icon>
    Renan Cavalcante
  </span>

  <mat-list role="list">
    <mat-list-item role="listitem"><a href="#">Sobre min</a> </mat-list-item>
    <mat-list-item role="listitem"><a href="#">Skills</a>    </mat-list-item>
    <mat-list-item role="listitem"><a href="#">Hobbies</a>   </mat-list-item>
    <mat-list-item role="listitem"><a href="#">Formação</a>  </mat-list-item>
    <mat-list-item role="listitem"><a href="#">Projetos</a>  </mat-list-item>
    <mat-list-item role="listitem"><a href="#">Contato</a>   </mat-list-item>
  </mat-list>

</mat-toolbar>
