footer{
  align-items: center;
  background-color: lightgray;
  display: flex;
  height: 80px;
  justify-content: center;
  position: relative;
  top: auto;
  width: 100%;
}

.div-footer{
  width: 80%;
  margin: 0 auto;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p{
  padding-top: 1rem;
}

mat-list{
  display: flex;
  list-style: none;
}


mat-list-item{
  margin-right: 5px;
}

/*
========================
          MOBILE
========================
*/

@media screen and (max-width: 767px) {
  mat-list{
    text-align: center;
  }

  .div-footer{
    flex-direction: column;
    justify-content: center;
  }

  footer{
    height: 100px;
    top: auto;
  }
}
