<footer>
  <div class="div-footer">
    <p>
      Desenvolvido por &copy;Renan 2022
    </p>
    <mat-list role="list">
      <mat-list-item role="listitem"><a routerLinkActive="active-link" routerLink="about">
        <mat-icon>mail</mat-icon>
      </a> </mat-list-item>
      <mat-list-item role="listitem"><a routerLinkActive="active-link" routerLink="skills">
        <mat-icon>facebook</mat-icon>
      </a> </mat-list-item>
      <mat-list-item role="listitem"><a routerLinkActive="active-link" routerLink="hobbies">
        <mat-icon>smartphone</mat-icon>
      </a> </mat-list-item>
    </mat-list>
  </div>
</footer>
