<footer>
  <div class="div-footer">
    <p>
      Desenvolvido por &copy;Renan 2022
    </p>
    <mat-list role="list">
      <mat-list-item role="listitem"><a href="https://www.linkedin.com/in/renan-cavalcante-devjava/">
        <i class="fa-brands fa-linkedin"></i>
      </a> </mat-list-item>
      <mat-list-item role="listitem"><a href="https://github.com/">
        <i class="fa-brands fa-square-github"></i>
      </a> </mat-list-item>
      <mat-list-item role="listitem"><a routerLinkActive="active-link" routerLink="contact">
        <i class="fa-solid fa-envelope"></i>
      </a> </mat-list-item>
    </mat-list>
  </div>
</footer>
