<section class="container">
  <div class="contact">

    <div class="contact__text">
      <h3 class="contact__text__title">
        Contato
      </h3>
      <p class="contact__text__info">
        Quer entrar em contato comigo?
        Preencha o formulário ao lado e entrarei em contato o mais rápido possível.
      </p>
    </div>

    <div class="fields">
      <form action="">
        <fieldset>
          <legend>Nome</legend>
          <input placeholder="informe seu nome aqui" type="text">
        </fieldset>
        <fieldset>
          <legend>E-mail</legend>
          <input placeholder="exemplo@email.com" type="email">
        </fieldset>
        <fieldset>
          <input placeholder="Assunto" type="text">
        </fieldset>
        <textarea placeholder="Mensagem" cols="44" rows="10"></textarea>
      </form>
    </div>

  </div>
</section>
