.contact{
  margin: 32px 0;
}

h3{
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

input{
  width: 80%;
  border: none;
  border-radius: 5px;
}

fieldset{
  margin-bottom: 32px;
  border-radius: 15px;
}

@media screen and (max-width: 767px) {
  .contact{
    margin: 0 auto;
  }

  .contact__text{
    padding-top: 1.5rem;
  }
}
