<h1>Skills</h1>
<section>
  <div class="card-skills">
    <img src="../../../assets/icons/icon-html.svg" alt="Icone HTML">
    <h1>HTML 5</h1>
  </div>
  <div class="card-skills">
    <img src="../../../assets/icons/icon-css.svg" alt="Icone CSS">
    <h1>CSS</h1>
  </div>
  <div class="card-skills">
    <img src="../../../assets/icons/icon-react.svg" alt="Icone React">
    <h1>REACT</h1>
  </div>
  <div class="card-skills">
    <img src="../../../assets/icons/icon-node.svg" alt="Icone Node">
    <h1>NODE</h1>
  </div>
  <div class="card-skills">
    <img src="../../../assets/icons/icon-js.svg" alt="Icone JavaScript">
    <h1>JAVASCRIPT</h1>
  </div>
  <div class="card-skills">
    <img src="../../../assets/icons/icon-php.svg" alt="Icone PHP">
    <h1>PHP</h1>
  </div>
</section>

