<h1>Skills</h1>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <img src="../../../assets/icons/icon-html.svg" alt="Icone HTML">
  </mat-grid-tile>
  <mat-grid-tile>
   <img src="../../../assets/icons/icon-css.svg" alt="Icone CSS">
  </mat-grid-tile>
  <mat-grid-tile><img src="../../../assets/icons/icon-react.svg" alt="Icone React"></mat-grid-tile>
  <mat-grid-tile><img src="../../../assets/icons/icon-node.svg" alt="Icone Node"></mat-grid-tile>
  <mat-grid-tile><img src="../../../assets/icons/icon-js.svg" alt="Icone JavaScript"></mat-grid-tile>
  <mat-grid-tile><img src="../../../assets/icons/icon-php.svg" alt="Icone PHP"></mat-grid-tile>
</mat-grid-list>

