<section class="section-main">
  <div class="div-content">
    <h1>Olá, meu nome é Fulana de Tal e construo páginas web</h1>
    <p>Eu sou formada em lorem ipsum sit amet consectetur e atualmente estou participando no projeto Oracle ONE na Alura.</p>
    <mat-list role="list">
      <mat-list-item role="listitem"><a href="#">GitHub</a> </mat-list-item>
      <mat-list-item role="listitem"><a href="#">Linkedin</a>    </mat-list-item>
      <mat-list-item role="listitem"><a href="#">Instagram</a>   </mat-list-item>
      <mat-list-item role="listitem"><a href="#">Curriculo</a>  </mat-list-item>
    </mat-list>
  </div>
  <div class="div-image">
    <img [src]="myImage" alt="Foto circular de homem branco sem barba, cabelos curto para a direita">
  </div>
</section>

<section class="section-text">
  <div class="div-text container">
    <h2>Sobre mim</h2>
    <p>
      Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est.Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio.Atirei o pau no gatis, per gatis num morreus.

      Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est.Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio.Atirei o pau no gatis, per gatis num morreus.
    </p>
  </div>
</section>
