<section class="section-main container">
  <div class="div-content">
    <h1>Olá, meu nome é Renan Cavalcante e desenvolvo softwares.</h1>
    <p>Sou estudante em constante aprendizado, em busca de se tornar um desenvolvedor Full Stack.</p>
    <mat-list role="list">
      <mat-list-item role="listitem"><a href="https://github.com/">GitHub
      </a> </mat-list-item>
      <mat-list-item role="listitem"><a href="https://www.linkedin.com/in/renan-cavalcante-devjava/">Linkedin</a>    </mat-list-item>
      <mat-list-item role="listitem"><a href="#">Instagram</a>   </mat-list-item>
      <mat-list-item role="listitem"><a href="#">Curriculo</a>  </mat-list-item>
    </mat-list>
  </div>
  <div class="div-image">
    <img [src]="myImage" alt="Foto circular de homem branco sem barba, cabelos curto para a direita">
  </div>
</section>

<section class="section-text">
  <div class="div-text">
    <h2>Sobre mim</h2>
    <p>
      Sou PCD e um entusiata e motivado estudante, na area de tecnologia, sempre em busca de melhorar meu conhecimento.
    </p>
    <p>
      Sempre trabalhei na indústria. comecei como Auxiliar de produção, com o passar do tempo fui participando de seleções interna na empresa, até conseguir cargo de Almoxarife. Depois de um tempo sofri um acidente, até então venho buscando me qualificar para que eu consiga uma oportunidade na área de tecnologia.
    </p>
    <p>
      Mesmo sem experiencia sólida, sempre busco aplicar os conhecimentos que vou adquirindo na pratica. No menu de navegação, em projetos, segue algumas demostrações.
    </p>
    <p>
      Resiliencia, Aprendizado ativo e continuo, Adaptabilidade, Criatividade, trabalho em equipe, essas são algumas de minhas skills que possuo e que podem ajudar no ambiente de trabalho.
    </p>
  </div>
</section>
