.section-main{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 32px auto;
}

mat-list{
  display: flex;
  list-style: none;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.section-text{
  background-color: #EAF2FD;
}

/*
========================
          MOBILE
========================
*/

@media screen and (max-width: 767px) {
  .section-main{
    flex-direction: column-reverse;
  }

  img{
    width: 98px;
    height: 98px;
  }
}
