.active-link{
  color: #00F;
  background-color: #FFF;
  border: 1px solid #00F;
  border-radius: 5px;
  padding: .25rem;
}

a:hover{
  text-decoration: underline;
}

mat-toolbar{
  width: 100%;
}

.div-header{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

span{
  display: flex;
  align-items: center;
}

mat-icon{
  margin-right: .2rem;
}

mat-list{
  display: flex;
  list-style: none;
}


mat-list-item{
  margin-right: 5px;
}

a{
  color: #FFF;
}

/*
========================
          MOBILE
========================
*/

@media screen and (max-width: 767px) {

  .div-header{
    /* justify-content: space-around; */
  }

  mat-list > *{
    display: none;
  }

  mat-list-item:nth-last-child(1){
    margin-right: 0;
    display: block;
  }

}
