<mat-toolbar color="primary">
  <div class="div-header">

    <span>
      <mat-icon>stars</mat-icon>
      Renan Cavalcante
    </span>

    <mat-list role="list">
      <mat-list-item ><a routerLinkActive="active-link" routerLink="about">Sobre min</a> </mat-list-item>
      <mat-list-item ><a routerLinkActive="active-link" routerLink="skills">Skills</a> </mat-list-item>
      <mat-list-item ><a routerLinkActive="active-link" routerLink="hobbies">Hobbies</a> </mat-list-item>
      <mat-list-item ><a routerLinkActive="active-link" routerLink="formation">Formação</a>
      </mat-list-item>
      <mat-list-item ><a routerLinkActive="active-link" routerLink="projetos">Projetos</a>
      </mat-list-item>
      <mat-list-item ><a routerLinkActive="active-link" routerLink="contact">Contato</a> </mat-list-item>
    </mat-list>

    <button class="btn-menu" mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item> <a routerLinkActive="active-link" routerLink="about">Sobre min </a></button>
      <button mat-menu-item> <a routerLinkActive="active-link" routerLink="skills">Skills   </a></button>
      <button mat-menu-item> <a routerLinkActive="active-link" routerLink="hobbies">Hobbies </a></button>
      <button mat-menu-item> <a routerLinkActive="active-link" routerLink="formation">Formação</a></button>
      <button mat-menu-item> <a routerLinkActive="active-link" routerLink="projetos">Projetos</a></button>
      <button mat-menu-item> <a routerLinkActive="active-link" routerLink="contact">Contato</a></button>
    </mat-menu>

  </div>

</mat-toolbar>
