<section class="container">
  <h1 class="title-section">Experiencia Profissional</h1>
  <div class="div-main" *ngFor="let projeto of projetos">
    <div class="div-main__items">
      <div class="div-main__items__image">
        <img [src]="projeto.imagem">
      </div>
      <div class="div-main__items__text">
        <h1>{{ projeto.titulo }}</h1>
        <h3>{{ projeto.subtitulo}}</h3>
        <div class="div-main__items__text__buttons">
          <button>Repositorio</button>
          <button>Ver Demo</button>
        </div>
      </div>
    </div>
  </div>
</section>
