<section class="section-main">
  <div>
    <h1>Olá, meu nome é Fulana de Tal e construo páginas web</h1>
    <p>Eu sou formada em lorem ipsum sit amet consectetur e atualmente estou participando no projeto Oracle ONE na Alura.</p>
    <mat-list role="list">
      <mat-list-item role="listitem"><a href="#">GitHub</a> </mat-list-item>
      <mat-list-item role="listitem"><a href="#">Linkedin</a>    </mat-list-item>
      <mat-list-item role="listitem"><a href="#">Instagram</a>   </mat-list-item>
      <mat-list-item role="listitem"><a href="#">Curriculo</a>  </mat-list-item>
    </mat-list>
  </div>
  <div class="div-image">

  </div>
</section>
