<section>

  <div class="container">
    <h1>Formação acadêmica</h1>
    <div class="experience">
      <div class="card-content">
        <div class="div-image">
          <img class="bg-image" src="../../../assets/images/unifor-logo-vertical-negative.svg" alt="Logo da Unifor">
        </div>
        <h4>Analise e Desenvolvimento de Sistemas</h4>
        <p>2019 - Unifor</p>
      </div>
      <div class="card-content">
        <div class="div-image">
          <img src="../../../assets/images/image_alura.svg" alt="Logo da Alura">
        </div>
        <h4>Full Stack Developer</h4>
        <p>2022 - Alura</p>
      </div>
      <div class="card-content">
        <div class="div-image">
          <img src="../../../assets/images/logo_proway.png" alt="Logo da Capgemini">
        </div>
        <h4>Front-End</h4>
        <p>2022 - Capgemini</p>
      </div>
    </div>
  </div>
</section>
